{
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    "^(^react$|@react|react|^recoil$)",
    "^@chakra-ui/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
